/* slider mini project style */
.main{
  border: 1px solid red;
  /* 这里 margin 必须在 margin-top 前面，
  否则 margin-top 的效果会被 margin 覆盖掉 */
  margin: 0 auto;
  margin-top: 10rem;
  width: 80vw;
  max-width: 800px;
}

.slider{
  border: 1px solid green;
  text-align: center;
}

.customer-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 4px solid #ddd6fe;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.customer-name{
  text-transform: uppercase;
  color: #8b5cf6;
  margin-bottom: .75rem;
}

.customer-title{
  text-transform: capitalize;
  color: #334155;
  margin-bottom: .75rem;
}

.customer-quote{
  max-width: 35em;
  margin:0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: #64748b;
}