/* menu mini project style */
.menu{
  padding: 4rem 0;
}

.header{
  font-weight: 400;
  font-size: 2.5rem;
}

.header::after{
  content: "";
  display: block;
  border: 2px solid #f59e0b;
  width: 7rem;
  margin:.5rem auto;
  border-radius: 2px;
}

.main{
  border: 1px solid red;
  display: grid;
  width: 90vw;
  margin: 0 auto;
  max-width: 1120px;
  gap: 2rem;
}

.menu-item{
  background: #fff;
  border-radius: .25rem;
  > .img {
    height: 15rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  max-width: 25rem;
}

